@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
   
}
header{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    z-index: 99;
}
header #logo img{
    position:relative;
    width: 80px;
    height: 80px;
}
header .menu-mobile{
    display: none;
    position: fixed;
}
header .btn-mobile{
    display: none;
}

header .menu ul{
    display: flex;
}
header .menu ul li{
    padding: 0 20px;
    list-style: none;
}
header .menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #d10000;
    align-items: justify;
    transition: 0.5s ease;
}
header .menu ul li a:hover{
    color: #ffff;
}

footer {
    position: relative;
    font-family: Montserrat;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0F0E14;
    color: white;
    text-align: center;
  }
  footer p{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0F0E14;
    color: white;
    text-align: center;

  }

  footer p a{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0F0E14;
    color: white;
    text-align: center;
  } 


/* ---------------- Pagina Inicial ---------------- */

 #inicio .container{
    width: 100%;
    height: 100vh;
    background: url('./assets/images/img1.jpg');
    background-size: cover;
    display: flex;
    justify-content: space-between;
 }
 #inicio .container .icons{
    width: 10%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 80px;
    position: fixed;
    z-index: 999;
 }
 #inicio .container .icons ion-icon{
    padding: 8px 0;
    font-size: 2rem;
    color: #be0404;
 }
 #inicio .container .icons ion-icon:hover{
    color: #ffff;
    transition: 1s;
 }
 #inicio .container .title{
    width: 70%;
    margin-top: 15%;
    margin-left: 10%;
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:justify;
    justify-content: center;
    padding: 0 50px;
 }
 #inicio .container .title h1{
    color: #ffff;
    text-transform: uppercase;
    text-align: justify;
    font-size: 2rem;
    letter-spacing: 3px;
 }
 #inicio .container .title h2{
    color: #ffff;
    align-items: flex-start;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 2rem;
 }

 /* ---------------- Pagina Sobre ---------------- */

#Sobre .descricao{
    width: 100%;
    height: 100vh;
    background: url('./assets/images/img2.jpg');
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

#Sobre .descricao .paragrafo h1{
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 40%;
    margin-left: 20%;
    color: #FFF;

}
#Sobre .descricao .paragrafo h1 b{
    color:#be0404
}
#Sobre .descricao .paragrafo p{
    color: #FFF;
    width: 35%;
    word-break: break-all;
    margin-top: 2%;
    margin-left: 20%;

}

/* ---------------- Pagina Projetos ---------------- */

#Projetos {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    background: #0f0e14;
    background-size: cover;
}
#Projetos .container{

    position: relative;
    display: flex;
    margin-left: 25%;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;

}

.container .card{
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    width: 280px;
    height: 400px;
    margin: 23px;
    overflow: hidden;
    box-shadow: 20px 20px 50px rgba(255, 255, 255, 0.301);
    justify-content: center;
    align-items: center;
    border-top: 1px solid #FFF;
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    text-decoration: none;
    
}
.container .card .bg_card1{
    position: relative;
    background-image: url('./assets/images/bg_dev.jpg');
    align-items: center;
    width: 100%;
    height: 100%;
}
.container .card .bg_card2{
    position: relative;
    background-image: url('./assets/images/bg_editor.jpg');
    align-items: center;
    width: 100%;
    height: 100%;
}

.container .card .content{
    padding: 20px;
    color: #FFF;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
    text-decoration: none;
}
.container .card:hover .content{
    transform: translateY(45px);
    opacity: 1;
    text-decoration: none;
    
}
.container .card .content .veja{
    cursor: pointer;
    margin-top: 40%;
    height: 47px;
    width: 150px;
    box-shadow: 1px 1px 8px #fff;
    border-color: #FFF;
    background-color: #75030336;
    
}
.container .card .content .veja h4{
    color: #FFF;
}

.container .card .content .logo{
    color:#be0404;
    width: 40px;
    height: 40px;       
}   




 @media screen and (max-width: 500px){
    
    header .menu{
        display: none;
    }
    header .btn-mobile{
        display: flex;
        align-items: flex-end;
        margin-left: 85%;
        position: fixed;
        color: #fff;
        font-size: 1.5rem;
    }
    
    header .menu-mobile{
        display: none;
        align-items: center;
        width: 40%;
        height: 20vh;
        box-shadow: 0 0 15px 0 rgba(114, 11, 11, 0.5);
        position: fixed;
        top: 15%;
        border-radius: 10px;
        background: #000000ad;
    }
    header .menu-mobile ul{
        align-items: center;
        text-align: center;
    }
    header .menu-mobile ul li{
        list-style: none;
        text-align: center;
        padding: 12px 0;
        color: #FFF;
    }
    header .menu-mobile ul li a{
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        color:#be0404;
    }
    

    header #logo img{
      display: none;
    }
    
     #inicio .container .icons{
        width: 10%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 10px;
     }
     #inicio .container .icons ion-icon{
        padding: 8px 0;
        font-size: 2rem;
        color: #be0404;
     }
     #inicio .container .icons ion-icon:hover{
        color: #ffff;
        transition: 1s;
     }
     #inicio .container .title{
        width: 70%;
        margin-top: 15%;
        margin-left: 10%;
        position: absolute;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content: center;
        padding: 0 50px;
     }
     #inicio .container .title h1{
        color: #ffff;
        text-transform: uppercase;
        text-align: justify;
        font-size: 20px;
        letter-spacing: 3px;
     }
     #inicio .container .title h2{
        color: #ffff;
        align-items: flex-start;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 20px;
     }

     #Sobre .descricao .paragrafo{
        margin-top:50%; 
     }
     #Sobre .descricao .paragrafo h1{
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        margin-top: 40%;
        margin-left: 20%;
        color: #FFF;
    
    }
    #Sobre .descricao .paragrafo h1 b{
        color:#be0404
    }
    #Sobre .descricao .paragrafo p{
        color: #FFF;
        width: 79%;
        word-break:inherit;
        margin-top: 2%;
        margin-left: 20%;
    
    }

    .container .card{
        position: relative;
        background-color: rgba(255, 255, 255, 0.1);
        width: 220px;
        height: 300px;
        margin: 23px;
        overflow: hidden;
        box-shadow: 20px 20px 50px rgba(255, 255, 255, 0.301);
        justify-content: center;
        align-items: center;
        border-top: 1px solid #FFF;
        border-left: 1px solid #FFF;
        border-right: 1px solid #FFF;
        border-bottom: 1px solid #FFF;
        text-decoration: none;
    }

    .container .card .content .veja{
        cursor: pointer;
        margin-top: 1%;
        height: 35px;
        width: 150px;
        box-shadow: 1px 1px 8px #fff;
        border-color: #FFF;
        background-color: #75030336;
        
    }
}

 